PORT=5001
MONGODB_URI=mongodb+srv://khairwalankit7:ankit2004@cluster0.qoym7ev.mongodb.net/chat-app?retryWrites=true&w=majority
JWT_SECRET=DEALAQsEDEBXvnBL4H6OXUfYR56vst6zBDNeZyC9sIJANOqvFwGSVRMKFL6KtKtkLEEqG5eQj7qQvwOQTmVTO8
CLOUDINARY_CLOUD_NAME=do3nmkbmz
CLOUDINARY_API_KEY=226948481392428
CLOUDINARY_API_SECRET=8QTJGw_IlpdLsyiHMkmoPdv0IQs
NODE_ENV=development